{% load static tailwind_tags %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>

        {% block title %}
        {% endblock %}
    </title>
    <script src="https://cdn.jsdelivr.net/npm/heroicons@1.0.6/outline.js"></script> <!-- Heroicons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    {% tailwind_css %}
</head>

<body class="bg-[radial-gradient(circle,_#8bedf6,_#0d1b2a)] h-screen flex items-center justify-center relative bg-opacity-100">
    <!-- Gradient Circle -->
   
    {% block content %}
    {% endblock %}

</body>
</html>
